/advanced-cache.php
/backup-db/
wp-content/backups/
wp-content/blogs.dir/
/languages/
/upgrade/
/uploads/
/mu-plugins/

/themes/**/.cache-loader/
/themes/**/dist/
/themes/**/node_modules/
/themes/**/vendor/
/themes/**/config-local.json
/themes/**/package-lock.json

/themes/rggc/resources/assets/config.json

/ai1wm-backups/
